POSTGRES_DB=sport_data
POSTGRES_USER=sport_user
POSTGRES_PASSWORD=sport_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDSCHEMA_RAW=raw
REDSCHEMA_BRONZE=bronze
REDSCHEMA_SILVER=silver
REDSCHEMA_GOLD=gold
REDSCHEMA_MONITORING=monitoring
REDPANDA_BROKERS=redpanda:9092
REDPANDA_TOPIC=sport_activities
SLACK_CHANNEL=#sport-avantages
COMPANY_ADDRESS=1362 Av. des Platanes, 34970 Lattes
RULE_VERSION=2026-01
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin_demo
AIRFLOW_ADMIN_PASSWORD=admin_demo_123
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Demo
AIRFLOW_ADMIN_EMAIL=ali75009@gmail.com
