# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sport_data
POSTGRES_USER=sport_user
POSTGRES_PASSWORD=change_me

# Redpanda
REDPANDA_BROKERS=redpanda:9092
REDPANDA_TOPIC=sport_activities

# Pipeline
SLACK_CHANNEL=#sport-avantages

# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=replace_with_valid_fernet_key
AIRFLOW_ADMIN_USERNAME=admin_demo
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Demo
AIRFLOW_ADMIN_EMAIL=admin_demo@example.com

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
