.idea/
.venv/
__pycache__/
**/__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.ipynb
logs/
src/orchestration/airflow/logs/
src/orchestration/airflow/.venv/
target/
analytics/dbt/target/
dbt_packages/
*.pyc
*.pyo
*.DS_Store
.env
.~*.twb
.~*.twbr
.~*.twb*
data/generated/*.csv
data/generated/*.jsonl
data/generated/great_expectations/
